// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

main {
  background-color: #183642;
  height: 100%;
  padding: 0 15px;
}

a {
  color: #EAEAEA !important;
}

.logo {
  width: 4em;
  height: 4em;
  position: absolute;
  top: 10%;
}

.icons {
  width: 2em;
  height: 2em;
}
h2 {
  font-size: 1.8rem;
}

.font-size09rem {
  font-size: 0.9rem;
}

.container {
  max-width: unset;
}

.btn-primary, .btn-primary:active {
  background-color: #EC4E20 !important;
  border-color: #EC4E20 !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: shade(#EC4E20, 20%) !important;
  border-color: shade(#EC4E20, 20%) !important;
}