main {
  background-color: #183642;
  height: 100%;
  padding: 0 15px;
}

a {
  color: #EAEAEA !important;
}

.logo {
  width: 4em;
  height: 4em;
  position: absolute;
  top: 10%;
}

.icons {
  width: 2em;
  height: 2em;
}
h2 {
  font-size: 1.8rem;
}

.font-size09rem {
  font-size: 0.9rem;
}

.container {
  max-width: unset;
}
